* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style:none;
}

body {
    font-family: 'Roboto', sans-serif;;
}

.header {
    width: 100%;
    max-height: 80px;
    background-color: rgb(40, 171, 226);
}

.content-container {
    width: 1260px;
    margin: auto;
}

.content-wrapper {
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.header__menu {
    margin-left: 52px;
    margin-top:4px;
    margin-bottom: 4px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu__list a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.header__social {
    margin-left: 164px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.social-list {
   display: flex;
   align-items: center;
   gap: 20px;
}
