* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style:none;
}

body {
    font-family: 'Roboto', sans-serif;;
}

.header {
    width: 100%;
    max-height: 80px;
    background-color: rgb(40, 171, 226);
}

.content-container {
    width: 1260px;
    margin: auto;
}

.content-wrapper {
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.header__menu {
    margin-left: 52px;
    margin-top:4px;
    margin-bottom: 4px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu__list a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.header__social {
    margin-left: 164px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.social-icons {
   display: flex;
   align-items: center;
   gap: 20px;
}

.social-icons--phone {
    background: url('../img/phone.svg') no-repeat center;
}

.social-icons--vk {
    background: url('../img/vk-logo.svg') no-repeat center top 54%;
}

.first-screen {
    width: 100%;
    height: 620px;
    background-image: url('../img/background-1.png');
    background-size: 100% 100%;
}

.first-screen .content-container {
    display: flex;
    gap: 30px;
    border: 2px solid black;
}

.hero-info {
  border: 2px solid orange;  
}

.hero-info__title {
    width: 761px;
    height: 220px;
    border: 2px solid orange; 
}

.hero-main {
    position: relative;
    border: 2px solid green;
}

.hero-main__image {
    position: relative;
    right: 325px;
    top: 44px; 
    width: 828px;
    height: 558px;
}

.hero-info__title--text,
.hero-info__title--sign {
font-style: normal;
font-weight: 500;
font-size: 96px;
line-height: 89.93%;
color: #28ABE2;
}

.hero-info__title--sign {
    font-size: 54px;
}
