* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style:none;
}

body {
    font-family: 'Roboto', sans-serif;;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(40, 171, 226);
}

.header__logo-wrapper {
    margin-left: 19.4%;
    margin-top: 20px;
}

.header__menu, .header__social {
    margin-left: 3.32%;
    margin-top: 20px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 49px;
}

.menu__list a{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.social-list {
   display: flex;
   align-items: center;
   gap: 27px;
}


 /* 
1) Числа должны делиться на 4
2) 
 */
