* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style:none;
}

body {
    font-family: 'Roboto', sans-serif;;
}

/* header */

.header {
    width: 100%;
    max-height: 80px;
    background-color: rgb(40, 171, 226);
}

.content-container {
    width: 1260px;
    margin: auto;
}

.content-wrapper {
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.header__menu {
    margin-left: 52px;
    margin-top:4px;
    margin-bottom: 4px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.menu__list a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.header__social {
    margin-left: 164px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.social-icons {
   display: flex;
   align-items: center;
   gap: 20px;
}

.social-icons--phone {
    background: url('../img/phone.svg') no-repeat center;
}

.social-icons--vk {
    background: url('../img/vk-logo.svg') no-repeat center top 54%;
}

/* 1 screen */

.first-screen {
    width: 100%;
    height: 620px;
    background-image: url('../img/background-1.jpg');
    background-size: 100% 100%;
}

.first-screen .content-container,
.second-screen .content-container
{
    display: flex;
    gap: 30px;
    border: 2px solid black;
}

.hero-info {
  border: 2px solid green; 
  position: relative;
  max-height: 700px; 
}

.hero-info__text--first {
    width: 761px;
    height: 220px;
    border: 2px solid green; 
}

.hero-main {
    position: relative;
    max-height: 700px;
    border: 2px solid orange;
}

.hero-main__image {
    position: relative;
}

.hero-main__image--first {
    right: 325px;
    top: 44px; 
    width: 828px;
    height: 558px;
}

.hero-info__text--title,
.hero-info__text--sign {
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 89.93%;
    color: #28ABE2;
}

.hero-info__text--sign {
    font-size: 54px;
}

/* 2 screen */

.second-screen {
    width: 100%;
    height: 700px;
    background-image: url('../img/background-2.jpg');
}

.hero-main__image--second {
    position: relative;
    right: 50%;
    bottom: 0.4%;
    width: 676px;
    height: 904px;
}

.hero-info__img {
    position: relative;
    width: 818.48px;
    height: 709px;
    bottom: 50.5%;
}

.hero-info__text--second {
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
    max-width: 392px;
    max-height: 372px;
    top: 24%;
    right: 24%;

}

.hero-info__text-item {
    height: 91px;
    color: #FFFFFF;;
    font-style: normal;
    line-height: 89.93%;
    text-align: right;
}

.second-screen-text {
    font-weight: 600;
    font-size: 64px;
    line-height: 89.93%;
    text-align: right;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}